.cadastroicon {
    font-size: 1.5em;
    color: #C9ADA7;
    padding:1em;
}

.cadastrolist {
    color: #C9ADA7 !important;
    font-weight: bold;
    font-size: 1.1em;
}
.cadastrolist ul {
    margin:0;
}